html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
    height: 99%;
    border: white solid 5px;
}
.player1 {
    background-color: rgb(255, 116, 2);
    height: 100%;
    width: 49.5%;
    float: left;
    border-right: white solid 5px;
}

.player2 {
    /* background-color: rgb(15, 74, 157); */
    background-color: rgb(255, 116, 2);
    height: 100%;
    width: 49.5%;
    float: right;
    border-left: white solid 5px;
}

h1 {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 2%;
    font-size: 7.5vh;
}

h2 {
    text-align: center;
    padding-top: 0%;
    font-size: 7.5vh;
}

.score {
    position: relative;
    top: 25%;
}

.buttonsDiv {
    margin: auto;
    height: 10%;
    position: absolute;
    background-color:rgba(255,255,255,.8);
    border-radius: 10px;
    width: 25%;
    margin-top: 80vh;
    text-align: center;
    left: 37%;
    opacity: 0;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.buttonsDiv:hover {
    animation: fadeIn .5s forwards;
}

.buttonsDiv:not(:hover) {
    animation: fadeOut .5s forwards;
  }

button {
    color: black;
}

h3 {
    color:#333;
    padding-bottom: 2%;
}

#button1{
    margin-top: 2.5vh;
    margin-left: 2%;
    background-color: #ADD8E6;
    border-radius: 50px 0px 0px 50px ;
    border: none;
    padding: 3%;
    padding-right: 2vh;
    font-size: 2.5vh;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
}

#button2 {
    margin-top: 2.5vh;
    background-color: #ADD8E6;
    border-radius: 0px 50px 50px 0px ;
    border: none;
    padding: 3%;
    font-size: 2.5vh;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
}

input {
    color:#333;
}

#tilSpill{
    color: #333;
}

#alert {
    color: #333;
    font-size: 2vh;
    text-align: left;
    padding: 0;
    text-align: center;
    padding: 2vh;
}

.formDiv {
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255, .5);
    width: 50%;
    height: fit-content;
    margin-top: 7vh;
    border-radius: 10px;
    /* border: black .5px solid; */
    box-shadow: 5px 5px 5px grey;
}

.formDiv form {
    padding-top: 5vh;
}

form input {
    border-radius: 10px;
    text-align: center;
}
.buttonDivIndex {
    margin: auto;
    text-align: center;
    width: 50%;
}

.formDiv h1 {
    padding-top: 2%;
    font-size: 3vh;
    color: #333;
}

#input-field {
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    border: none;
    font-size: 1.5vh;
}

#buttonIndex {
    text-align: center;
    padding: 1vh;
    margin: 1vh;
    margin-top: 1.5em;
    border-radius: 10px;
    border: none;
    font-size: 1.5vh;
}

.inputNumberIndex {
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    border: none;
    font-size: 1.5vh;
}

.bodyIndex {
    background-color: rgb(248, 88, 88);
    border: none;
    height: 50vh;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 116, 2) 50%, red 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
}
  
.bg3 {
    animation-duration:6s;
}
  
  
  
@keyframes slide {
    0% {
      transform:translateX(-2%);
    }
    100% {
      transform:translateX(2%);
    }
}

.spillere h3 {
    display: inline;
}

.spillere button {
    margin: auto;
    margin-left: 5%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-size: 1.5vh;
}
